{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<article class="row">
    <section>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <label for="inputEmail">Prénom/Pseudo</label>
            <input type="text" value="{{ last_username }}" name="name" id="Name" class="form-control mb-3" autocomplete="name" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn mt-4" type="submit">
                Connexion
            </button>
        </form>
    </section>

    <section class="d-flex flex-column mt-3">
        <div class="mb-2">
			<a class="btn" href="#" class="text-body">Mot de passe oublié ?</a>
		</div>
        <p class="h6">Tu n'as pas encire de compte?
            <a href="#">Inscris toi!</a>
        </p>
    </section>

</article>
{% endblock %}
