<article class="container">
    <section class="row">
        <h1>Activation de compte</h1>
        <p>Hello {{ user.name }},</p>

        <p>
            Encore une dernière étape pour valider ton compte sur notre site 
            <strong class="marker-blue">Snowtricks.</strong>    
        </p>

        <p>
            <a href="{{ verifyUrl }}">Je valide mon email</a>
        </p>
        <p class="alert alert-danger">Validité du lien 3 heures.</p>
    </section>
</article>
