<article class="container">
    <section class="row">
        <h1>Demande de réinitialisation de mot de passe</h1>
        <p>Hello {{ user.name }},</p>

        <p>
           Si tu n'es pas à l'origine de cette demande de réinitialisation de mot passe ignores simplement cet email. <br>
           Si oui cliques sur le lien suivant : 
        </p>

        <p>
            <a href="{{ url }}">Réinitialiser mon mot de passe</a>
        </p>
    </section>
</article>
