{% extends "/base.html.twig" %}

{% block body %}
	<article class="d-flex justify-content-center">
        <section class="col-6 text-center p-lg-5 my-4 ">
            <h1>
                <i class="fa-regular fa-circle-xmark fa-2xl" style="color: #e22908;"></i>
            </h1>
            <p>
                <a href="{{ path('resend_mail', {user_name: user.name}) }}">Recevoir le mail de validation</a>
            </p>
        </section>
    </article>
{% endblock %}
