body {
    font-family: "Agdasima", sans-serif;
    font-size: 1.2rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.main-title,
.trick-name {
    position: relative;
}

.main-title img {
    max-width: 100%;
}

.hook,
h1 {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
}

.strong,
.card-link,
.marker-blue {
    color: #1a7087;
}

.card-link {
    text-decoration: none;
}

.trick-image {
    max-width: 500px;
}

.btn:not(.btn-floating) {
    cursor: pointer;
    color: #05a1b7;;
    font-size: 1em;
    padding: 5px 15px;
    border: 1px solid #05a1b7;
    border-radius: 3px;
}
.btn:hover {
    color: #fff;
    background-color: #05a1b7;
}
/* NAV FOOTER */

.nav-link {
    font-size: 1.3rem !important;
    color: #fff;
    border-bottom: 1px solid transparent;
}
.nav-link:hover {
    transition: 0.8s;
    border-bottom: 1px solid #05a1b7;
}

.logout {
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    padding: 5px 15px;
    border-radius: 3px;
    background-color:  #05a1b7;
}

.navbar-toggler-icon {
    color:  #c4c2c2;
    border:  none; 
}
/* MEDIA QUERIES */
/* sm */
@media (min-width: 576px) {
    .main-title .hook {
        font-size: 20px;
        position: absolute;
        top: 55%;
        right: 10px;
        left: 56.1%;
    }
    
}

/* md */
@media (min-width: 768px) {
    
}

/* lg */
@media (min-width: 992px) {
    
}

/* xl */
@media (min-width: 1200px) {
    
}