{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!
{% endblock %}

{% block body %}
	<article>
		<div>
			<h1></h1>
		</div>
		<section></section>
		<section></section>
	</article>
{% endblock %}
