{% extends 'base.html.twig' %}

{% block title %} 
	{% trans %}REINITIALISATION DE MOT DE PASSE{% endtrans %}
{% endblock %}

{% block body %}
	<section class="row my-3">
		<div class="col d-flex flex-column">
			<div class="">
				<h2 class="text-center mb-3"><img src="/image/common/pw_reset.png" alt="icon-password_reset"></h2>
				<h1 class="text-center">
					REINITIALISATION DE MOT DE PASSE
				</h1>
				<p class="text-center">Veuillez remplir le formulaire ci-dessous avec votre nouveau mot de passe</p>
				<p class="text-center">Après validation, vous serez redirigé vers la page de connexion</p>
			</div>
			<div class="align-self-center mt-4">
				{# {{ form_start(form) }}
				{{ form_errors(form) }}

				{{ form_row(form.password, {label: ' '}) }} #}
				<div class="d-flex mt-4">
					<button type="submit" class="btn my-3">{% trans %}Réinitialiser{% endtrans %}</button>
				</div>
				{# {{ form_end(form) }} #}
			</div>
		</div>
	</section>
{% endblock %}
