{% extends 'base.html.twig' %}	

{% block body %}
    <article class="row d-flex">
		<h1 class="position-absolute top-25 end-0 p-4" style="background-color:#38ada9;">Nouvelle figure</h1>
		<section class="d-flex flex-wrap py-3">
			{# TODO: comment faire pour avoir plusieurs images et vidéos pour un seul objet ? #}
	    </section>
    </article>
{% endblock %}