{# {% extends 'base.html.twig' %} #}

{% block body %}
	<article class="row d-flex mt-4">
		<section class="d-flex flex-wrap justify-content-center">
				
	    </section>
    </article>
{% endblock %}
