	{% include "_partial/_head.html.twig" %}
	<body>
		{% include "_partial/_nav.html.twig" %}
		{% include "_partial/_flash.html.twig" %}
		<main class="mb-3"> 
			{% block miscellaneous %}
				<div id="welcome">
					<div class="m-auto py-4">
						{% if app.user and app.user.isVerified == true %}
							<ul class="navbar-nav align-self-center ms-2">
								<li class="nav-item text-light text-center mt-1 mb-lg-0 mb-3">
									<span>Bonjour {{ app.user.name|capitalize }} !</span>
								</li> 
							</ul>
						{% else %}
							<ul class="navbar-nav align-self-center ms-2">
								<li class="nav-item text-light text-center mt-1 mb-lg-0 mb-3">
									<span>Bienvenue !</span>
								</li> 
							</ul>	
						{% endif %}
					</div>
				</div>
			{% endblock %}
			{% block body %}{% endblock %}
		</main>
		{% include "_partial/_footer.html.twig" %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
