{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <article class="row d-flex">
        <section class="d-flex justify-content-center">
            <div class="main-title" style="font-family: Londrina Solid">
                <img src="/image/snowboard-home.png" alt="image-home-snowboard" class="mw=100">
                <h1 class="hook ms-4"><strong>SnowTricks</strong> est site collaboratif pour faire connaître ce sport auprès du grand public et aider à l'apprentissage des figures <strong class="marker-blue">(tricks)</strong>.</h1>
            </div>
        </section>
        
        <section class="d-flex justify-content-center">
        
        </section>
    </article>
{% endblock %}
