{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <article class="row">
        <div>
            <img src="/image/snowboard-home.png" alt="image-home-snowboard">
            <h1 class"title-principal" style="font-family: Londrina Solid">
                SnowTricks
            </h1>
        </div>
    </article>
{% endblock %}
