{% if pages > 1 %}
    <nav>
        <ul class="pagination">
            {% for page in 1..pages %}
                <li class="page-item {{ (page == currentPage) ? 'active' : '' }}">
                    <a class="page-link fs-4" href="{{path(path, {slug: trick.slug, page: page} ) }}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
